{% extends 'CamaleaoBimgoSiteBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Usuario ativado com Sucesso!</h2>
        <div class="row">
            <p>
                Agora, além de poder acompanhar promoções, localizar empresas, conhecer os produtos disponíveis e entrar em contato de forma rápida, fácil e segura,
            </p>
            <p>
                você também poderá optar por ser notificado a cada nova promoção cadastrada e nunca perder as melhores ofertas da sua região.
            </p>
        </div>
    </div>
{% endblock %}