{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Nova Empresa</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                <button type="submit" value="Cadastrar" class="waves-effect waves-light btn green">
                    <i class="material-icons left">add</i>Cadastrar
                </button>
                {{ form_end(form) }}
            </div> <!-- end col s12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a href="{{ path('empresa_index') }}"class="waves-effect waves-light btn blue darken-4"><i class="material-icons left">list</i>Voltar</a>
            </div> <!-- end col s12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
{% endblock %}
