<META HTTP-EQUIV='Content-Type' CONTENT='text/html;charset=iso-8859-1'>
<div id='area' style='margin: 0 auto; font-family: Arial, Helvetica, sans-serif; width: 550px;'>
    <img src="https://s3.amazonaws.com/bim-go/pin.png" alt='Bim-go!' title="Bim-go!" width='150px' style="float: left"/>
    <p style='font-size: 18px; line-height: 16px; margin: 10px 10px 16px;'>
        Olá <strong>{{ usuario.nome }}</strong>,
    </p>
    <p style='font-size: 14px; line-height: 16px; margin: 10px 10px 16px;'>
        Seja Bem vindo ao Bim-go! Agora você poderá acompanhar promoções, localizar empresas, conhecer os produtos disponíveis e entrar em contato de forma rápida, fácil e segura.
    </p>
    <p style='font-size: 14px; line-height: 16px; margin: 10px 10px 16px;'>
        Em breve você poderá optar por ser notificado a cada nova promoção cadastrada e nunca perder as melhores ofertas da sua região. Basta ativar o seu cadastro clicando
        <a href={{ "http://52.67.74.243/bim-go/user/ativar/#{usuario.token}" }}>aqui</a>.
    </p>
</div>