<META HTTP-EQUIV='Content-Type' CONTENT='text/html;charset=iso-8859-1'>
<div id='area' style='margin: 0 auto; font-family: Arial, Helvetica, sans-serif; width: 550px;'>
    <p style='font-size: 12px; line-height: 16px; margin: 10px 10px 16px;'>
        Olá <strong>{{ usuario.nome }}</strong>,
    </p>
	<a href={{ "http://52.67.74.243/bim-go/android/ativarusuario/#{usuario.token}" }}>Clique aki para ativar</a>
</div>
