{% extends 'base.html.twig' %}

{% block body %}
	<button onclick="testeEstados()">New Estado</button>
	<button onclick="testeEmpresas()">New Empresa</button>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/camaleaowebbimgo/js/test-android.js') }}"></script>
{% endblock %}
